@tailwind base;
@tailwind components;
@tailwind utilities;

/* Particle Styles */
.particle {
  width: 20px;
  height: 20px;
}

.particle-1 {
  top: 10%;
  left: 20%;
}

.particle-2 {
  top: 60%;
  left: 70%;
}

.particle-3 {
  top: 30%;
  left: 50%;
}

.particle-4 {
  top: 80%;
  left: 30%;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-40px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out infinite 2s; /* Delayed start */
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.animate-pulse { animation: pulse 3s ease-in-out infinite; }